<nav class="navbar navbar-default navbar-fixed-top" role="">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img alt="Brand" style="margin-top: -32px;" src="assets/images/sopra-logo.png">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a ui-sref="main.home"><i class="fa fa-home"></i> Accueil</a>
      </li>
      <li ui-sref-active="active"><a ui-sref="">Suivi des modifications</a></li>
      <li ui-sref-active="active" class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle>Données du référentiel <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-submenu" dropdown>
            <a tabindex="-1" ui-sref="">Produit</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Rechercher</a></li>
              <li><a href="#">Modification groupée</a></li>
            </ul>
          </li>
          <li><a ui-sref="main.cmdpapeterie">Support</a></li>
          <li><a ui-sref="main.cmdpapeterie">Fournisseur</a></li>
          <li><a ui-sref="main.cmdpapeterie">Papetterie</a></li>
          <li><a ui-sref="main.cmdpapeterie">Entité</a></li>
          <li><a ui-sref="main.cmdpapeterie">Dépôt</a></li>
          <li><a ui-sref="main.cmdpapeterie">Machine</a></li>
          <li><a ui-sref="main.cmdpapeterie">Packaging</a></li>
          <li><a ui-sref="main.cmdpapeterie">Affranchissement</a></li>
        </ul>
      </li>
      <li ui-sref-active="active" class="dropdown" dropdown>
        <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Vues Métiers <span class="caret"></span></a>
        <ul class="dropdown-menu" dropdown-menu role="menu">
          <li><a ui-sref="main.madsupport">Production</a></li>
          <li><a ui-sref="main.madpapeterie">Cardmapping</a></li>
        </ul>
      </li>
      <li ui-sref-active="active"><a ui-sref="">Synchronisation</a></li>
      <li ui-sref-active="active" class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a ui-sref="main.livsupport">Paramétrage</a></li>
          <li><a ui-sref="main.livpapeterie">Tables de référence non suivies</a></li>
          <li><a ui-sref="main.livpapeterie">Tables de référence suivies</a></li>
          <li><a ui-sref="main.livpapeterie">Matrice de complétude</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
      <li><a href="#"><i class="fa fa-user"></i> admin</a></li>
    </ul>
  </div>
</nav>
